#SurveyorForm label {
   float: left;
}

#SurveyorForm input {
   float: right;
}

.SurveyorForm-row {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}

#SurveyorForm--submit-button {
   margin-top: 12px;
}

#SurveyorForm--submit-button button {
   width: 85px;
}