.App {
  display: flex;
}

.App-content {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 20px;
}

.flex-row, .flex-column {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

button {
  border: none;
  border-radius: 3px;
  height: 33px;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.691);
}

button:hover {
  background-color: lightgrey;
}